.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevent page overflow */
  position: relative; /* Ensure child elements are positioned relative to this */
}

.sidebar {
  width: 250px; /* Sidebar width */
  height: 100vh;
  background-color: #f8f9fa;
  position: fixed; /* Fixed positioning */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  z-index: 2000; /* Higher z-index to sit on top */
}

.main-content {
  margin-left: -150px; /* Align with sidebar */
  width: calc(100% - 250px); /* Full width minus sidebar */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 60px; /* Set header height */
  color: white; /* Header text color */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space items horizontally */
  padding: 0; /* Remove padding for tight alignment */
  margin: 0;  /* No margin for close alignment */
  flex-shrink: 0; /* Prevent shrinking */
  z-index: 1000; /* Lower z-index than sidebar */
}

.content-area {
  flex-grow: 1; /* Allow content area to grow */
  margin: 0; /* No margins for tight layout */
  padding: 30px; /* Optional padding for content */
  background-color: #f1f1f1; /* Background color for content */
  overflow-y: auto;
  margin-top: 40px;
}

.footer {
  height: 150px; /* Set footer height */ /* Footer background color */
  color: white; /* Footer text color */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  padding: 0; /* No padding for close alignment */
  margin: 0; /* No margin for close alignment */
  flex-shrink: 0; /* Prevent shrinking */
  z-index: 1000; /* Lower z-index than sidebar */
}
